In [ ]:
import pandas as pd

import numpy as np

In [ ]:
movi=pd.read_csv('DataSets/tmdb_5000_movies.csv')
cred=pd.read_csv('DataSets/tmdb_5000_credits.csv')

In [ ]:
movi=movi.merge(cred,on='title')

In [ ]:
movi.head(2)

In [ ]:
movi=movi[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
movi.head(10)

In [ ]:
movi.isnull().sum()

In [ ]:
movi.dropna()

In [ ]:
movi.isnull().sum()

In [ ]:
movi.duplicated()

In [ ]:
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [ ]:
movi['genres'].apply(

In [ ]:
movi['keywords']=movi['keywords'].apply(convert)

In [ ]:
movi.head(1)

In [ ]:
import ast
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            
            l.append(i['name'])
            counter+=1
    return l

In [ ]:
movi['cast']=movi['cast'].apply(convert3)

In [ ]:
movi.head(1)

In [ ]:
movi['crew'][9]

In [ ]:
import ast
def convert4(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [ ]:
movi['crew']=movi['crew'].apply(convert4)

In [ ]:
movi.head(3)

In [ ]:
movi['overview']=movi['overview'].apply(lambda x:x.split())

In [ ]:
movi.head(1)

In [68]:
movi['genres']=movi['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movi['keywords']=movi['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movi['cast']=movi['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movi['crew']=movi['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [69]:
movi.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [71]:
movi.shape

(4806, 7)

In [83]:
movi['tag']=movi['overview']+movi['genres']+movi['cast']+movi['crew']+movi['keywords']

In [84]:
new_df = movi[['movie_id','title','tag']]

In [90]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [86]:
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\ASYUSH ARYA\AppData\Local\Temp\ipykernel_2752\4079141722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

In [89]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [91]:
new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

C:\Users\ASYUSH ARYA\AppData\Local\Temp\ipykernel_2752\1740795540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

In [92]:
new_df

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [93]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [96]:
vector = cv.fit_transform(new_df['tag']).toarray()

In [97]:
vector.shape

(4806, 5000)

In [98]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [104]:
new_df[new_df['title'] == 'The Lego Movie'].index[0]

744

In [ ]:
similarity

In [105]:

def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [109]:
recommend('Gandhi')

The Wind That Shakes the Barley
A Passage to India
Ramanujan
Guiana 1838
Chariots of Fire